POSTGRES_DB=posdb
POSTGRES_USER=posuser
POSTGRES_PASSWORD=change-this-to-a-long-random-db-password

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/posdb
SPRING_DATASOURCE_USERNAME=posuser
SPRING_DATASOURCE_PASSWORD=change-this-to-a-long-random-db-password

APP_JWT_SECRET=change-this-to-at-least-32-random-characters
APP_JWT_EXPIRES_MINUTES=1440
